<div data-role="header">
  <h1>HostLuck</h1>
  <div data-role="navbar">
    <ul>
      <li>
        <a href="#anylink" data-rel="back" data-icon="arrow-l"></a>
      </li>
      <li>
        <a href="#home" data-icon="home"></a>
      </li>
    </ul>
  </div>
</div>
