<!DOCTYPE html>
<html>

<head>
  <title>
    Hostluck - The Crowd Sourced Dinner
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <!-- js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!---EventSetup Page--------------------------------------->
<div data-role="page" id="eventsetup">
  <div data-role="header">
    <h1>HostLuck</h1>
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#anylink" data-rel="back" data-icon="arrow-l"></a>
        </li>
        <li>
          <a href="#home" data-icon="home"></a>
        </li>
      </ul>
    </div>
  </div>

  <div data-role="main" class="ui-content ui-corner-all">
    <h1> Yay! Your Event has been set up! Congrats! </h1>

    <a href="#myeventsmain" class="ui-btn ui-corner-all">My Events</a>
  </div>

  <div data-role="footer" data-position="fixed">
    <h3>Shmerling, Nguyen, Holeman & Co.</h3>
  </div>
</div>
</body>

</html>
